#s_landing {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

#s_landing h1 {
    padding-top: 15%;
    font-size: 6vh;
    grid-column: 2;
    justify-self: center;
    grid-row: 1;
}

#s_landing #d_buttonContainer {
    margin: auto;
    padding-top: 15vh;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
}
